
<div class="container">
    
    <ul class="list-group">
        <li class="list-group-item mb-2 bg-info" *ngFor="let user of users">
            <div class="row">
                <div class="col-md-4">
                 <img [src]="user.image" alt="image not found" height="100px" width="100px" class="img-fluid">   
                </div>
                <div class="col-md-8">
                    <h2>Name:{{user.firstname}} {{user.lastname}}</h2>
                    <h3 *ngIf="user.age">Age:{{user.age}}</h3>
                    <p>address:{{user.address.door}} {{user.address.city}}</p> 
                </div>
            </div>
       
        </li>
    </ul>
</div>

